* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#nome-completo {
  display: flex;
}

#user-info {
  display: flex;
}

main {
  display: flex;
}

.trybewarts-header-logo {
  width: 70px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.checkbox-container {
  flex-direction: row;
}

.rate-container {
  flex-direction: row;
}
